.mainBody {
  font-size: 0.75rem;
  opacity: 0.5;
}

.answerDetail p {
  margin: 0;
}

.answerDetail ul {
  margin: 0;
  padding-left: 1.5rem;
}

.answerDetail img {
  height: auto;
  width: 80%;
}

.answerDetail .title {
  font-weight: bold;
}

.answerDetail .shorAnswer {
  border-style: groove;
  border-width: thin;
  margin: 0.2rem;
  padding: 0.2rem;
  min-height: fit-content;
  min-width: fit-content;
  max-width: 35rem;
}

.clickable {
  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: column;
}

.settings .settingsEntry {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.settings .settingsEntry label {
  font-weight: bold;
}

.settings .settingsEntry input {
  height: fit-content;
  text-align: right;
}

.settings .settingsSubmit {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.settings .settingsSubmit input {
  cursor: pointer;
}

.settings .submitTip {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 0.5rem;
}

.uploadImg {
  display: flex;
  flex-direction: column;
}

.uploadImg img {
  width: 100%;
  height: auto;
}

.uploadImg .confirmUpload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.uploadImg .confirmBUtton {
  cursor: pointer;
}

.uploadImg .imageContainer {
  border-style: groove;
  border-width: thin;
  padding: 0.5rem;
}

.about p {
  margin-bottom: 0.25rem;
}

.about ul {
  padding-left: 1.5rem;
  margin: 0 0 0.25rem 0;
}

.about ul li {
  margin-bottom: 0.25rem;
}
