.tooltip {
  position: absolute;
  visibility: hidden;
  display: block;
  z-index: 1;
  color: rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 0.1rem;
  border-radius: 0.3rem;
  font-weight: bold;
  font-size: 0.3rem;
  left: 0;
  bottom: 0;
}

.tooltip[data-show] {
  visibility: visible;
}

.buttonText {
  cursor: pointer;
  margin-left: 0.25rem;
  text-decoration: underline;
}
